<div class="container">
	<div class="row text-center toprow">
		<div class="joseheaderrow">
			<div class="col-sm-8">
			<p class="title"><!-- <strong> -->Jose Perez-Roura<!-- </strong> --></p>
			<p class="undertitle">*Web Developer *Bar Enthusiast *Creative</p>
			</div>
			<div class="col-sm-4">
			<img src="/assets/jose2.jpg" class="img-thumbnail josepic">
			</div>
		</div>
		
			<div class="col-sm-12 aboutcol">
			<p class="about"><strong>A little about me:</strong> I'm a recent graduate from Ironhack's web development bootcamp.  I have experience in hospitality, marketing and web development.  Miami, Fl is my home and where I'm originally from. I enjoy developing web applications, food and traveling.</p>
			<p class="about"><strong>Technical Skills:</strong>Ruby, Ruby on Rails, HTML, CSS, JavaScript, jQuery, AJAX, Git, HTTP</p>
			</div>
		
	</div>
</div>