<div class="container">
	<div class="row text-center toprow">
		<div class="joseheaderrow row">
			<div class="col-sm-8">
			<p class="title"><!-- <strong> -->Jose Perez-Roura<!-- </strong> --></p>
			<p class="undertitle">*Web Developer *Bar/Food Enthusiast *Creative</p>
			</div>
			<div class="col-sm-4">
			<img src="/assets/jose2.jpg" class="img-thumbnail josepic">
			</div>
		</div>
		<div class="row abouttext">
			<div class="col-sm-12">
			<p class="aboutme"><strong>A little about me:</strong> I have experience in web development, marketing and hospitality. I'm a recent graduate of Ironhack's Web Development Bootcamp. Miami, Fl is my home and where I'm originally from. I enjoy developing web applications, trying new foods and traveling.</p>
			<p class="aboutme"><strong>My Technical Skills:</strong> Ruby, Ruby on Rails, HTML, CSS, JavaScript, jQuery, AJAX, Git, HTTP</p>
			</div>
		</div>
		<div class="row rowweb">
			<div class="col-sm-12 aboutcol">
			<p class="about"><strong>Web Applications</strong> (click on image below)</p>
			</div>
			<div class="col-sm-6">
			<a href="http://www.barchef.co" target="_blank">
			<p class="webapp"><strong>Barchef</strong></p>
			<div class="well well-bar js-well">
			</div>
			</a>
			</div>
			
			<div class="col-sm-6">
			<a href="https://overundermiami.herokuapp.com/" target="_blank">
			<p class="webapp"><strong>Over Under (under construction)</strong></p>
			<div class="well well-over js-well">
			</div>
			</a>
			</div>
		</div>
		<div class="row rowweb">
			<div class="col-sm-12 aboutcol text-center">
			<p class="about"><strong>Additional Information</strong>
			</div>
		<div class="row rowinfo">	
			<div class="col-sm-4">
			<ul class="resumeul">
			<li class="js-well"><a href="/assets/JosePerez-Roura.pdf" download><img src="/assets/resumeimage.jpg" class="resumepic img-thumbnail"></li>
			<li>Download Resume</li></a>
			</ul>
			</div>
			<div class="col-sm-4">
			<ul class="resumeul">
			<li class="js-well"><a href="http://www.linkedin.com/in/joseperezroura" target="_blank"><img src="/assets/rolodex2.jpg" class="img-thumbnail resumepic"></li>
			<li>LinkedIn</li></a>
			</ul>
			</div>
			<div class="col-sm-4">
			<ul class="resumeul">
			<li class="js-well"><a href="http://www.github.com/joseperezroura" target="_blank"><img src="/assets/octocat.jpg" class="img-thumbnail resumepic"></li>
			<li>GitHub</li>
			</ul>
			</div>
		</div>
		</div>
	</div>
</div>