<div class="container">
	<div class="row text-center toprow">
		<div class="joseheaderrow row">
			<div class="col-sm-8">
			<p class="title"><!-- <strong> -->Jose Perez-Roura<!-- </strong> --></p>
			<p class="undertitle js-quotes">*Web Developer</p>
			<p class="undertitle js-quotes">*Food Enthusiast</p>
			<p class="undertitle js-quotes">*Creative</p>
			</div>
			<div class="col-sm-4">
			<img src="/assets/jose2.jpg" class="img-thumbnail josepic">
			</div>
		</div>
		<div class="row abouttext">
			<div class="col-sm-12">
			<p class="aboutme"><strong>A little about me:</strong> I'm a recent graduate of Ironhack's full stack web development bootcamp in Miami. I have experience in developing web applications, marketing &amp hospitality. I enjoy developing web applications, learning new technologies, trying new foods &amp traveling.</p>
			<p class="aboutme"><strong>My Technical Skills:</strong> Ruby, Ruby on Rails, HTML, CSS, JavaScript, jQuery, AJAX, Bootstrap, Git, HTTP, Responsive Design &amp Adobe Illustrator.</p>
			</div>
		</div>
		<div class="row rowmean">
			<div class="col-sm-12 aboutcol">
			<p class="about"><strong>Web Applications</strong> (click on image below)</p>
			</div>
			<div class="col-sm-6">
			<a href="http://www.barchef.co" target="_blank">
			<p class="webapp"><strong>Barchef</strong></p>
			<div class="well well-bar js-well">
			</div>
			</a>
			</div>
			
			<div class="col-sm-6">
			<a href="https://overundermiami.herokuapp.com/" target="_blank">
			<p class="webapp"><strong>Over Under (under construction)</strong></p>
			<div class="well well-over js-well">
			</div>
			</a>
			</div>
		</div>
		<div class="row rowweb">
			<div class="col-sm-12 aboutcol">
			</div>
			<div class="col-sm-6">
			<a href="https://thawing-ridge-12109.herokuapp.com" target="_blank">
			<p class="webapp"><strong>Spotify Player</strong></p>
			<div class="well well-spotify js-well">
			</div>
			</a>
			</div>
			
			<div class="col-sm-6">
			<!-- <a href="https://overundermiami.herokuapp.com/" target="_blank"> -->
			<p class="webapp"><strong>Future Web App</strong></p>
			<div class="well well-app">
			<center><img src="/assets/movie2logo.svg" class="movie2logo"></center>
			</div>
			</a>
			</div>
		</div>
		<div class="row rowweb">
			<div class="col-sm-12 aboutcol text-center">
			<p class="about addinfo"><strong>Additional Information</strong>
			</div>
		</div>
		<div class="row rowinfo">	
			<div class="col-sm-4">
				<ul class="resumeul">
				<li class="js-well"><a href="/assets/JosePerez-Roura.pdf" download><img src="/assets/resumeimage.jpg" class="resumepic img-thumbnail"></li>
				<li>Download Resume</li></a>
				</ul>
			</div>
			<div class="col-sm-4">
				<ul class="resumeul">
				<li class="js-well"><a href="http://www.linkedin.com/in/joseperezroura" target="_blank">
				<img src="/assets/rolodex2.jpg" class="img-thumbnail resumepic"></li>
				<li>LinkedIn</li></a>
				</ul>
			</div>
			<div class="col-sm-4">
				<ul class="resumeul">
				<li class="js-well"><a href="http://www.github.com/joseperezroura" target="_blank">
				<img src="/assets/octocat.jpg" class="img-thumbnail resumepic"></li>
				<li>GitHub</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-sm-12">
				<p class="copyright"><strong>Copyright © 2017</strong></p>
				</div>
			</div>
		</div>
	</div>
</div>