/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1{
 	font-family: 'Amatic SC', cursive;
 }

 p{
 	font-family: 'PT Mono', monospace;
 	font-size: 18px;
 }
 .navbar{
 	background-color: #efefef;
 	box-shadow: 0 22px 22px -22px rgba(85, 85, 85, 0.3);
 }
 ul {
  list-style-type: none;
  
  display: inline-flex;
  margin-top: 10px;
}
.linked{
	margin-right: 15px;
}
.navbar-right{
	margin-right: 45px;
	font-family: 'PT Mono', monospace;
}
